.card {
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  background: rgb(37 35 34 / 75%);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
}

.cardContent {
  min-width: 200px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 368px;
}

.cardName {
  flex-grow: 1;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card:hover .cardName {
  color: #355091;
}

.cardImage {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.closeBtn {
  color: #fff;
  background-color: #1a1a1aa1;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  background-image: url("../../assets/btn-closeCard.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.closeBtn:hover {
  transform: scale(1.2);
}

.favFilled {
  color: #fff;
  background-color: rgb(37 35 34 / 0%);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  background-image: url("../../assets/btn-favFilled.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.favFilled:hover {
  transform: scale(1.2);
}

.favEmpty {
  color: #fff;
  background-color: rgb(37 35 34 / 0%);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  background-image: url("../../assets/btn-favEmpty.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.favEmpty:hover {
  transform: scale(1.2);
}
