.bodyForm {
  background-image: url("../../assets/bg-mort-rick.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.formContainer {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.1);
  background: rgb(37 35 34 / 75%);
  /* Additional styles for the form container */
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

body{
  margin: 0;
  padding: 0;
}

body .errorText {
  color: #ffffffe0;
  margin: 5px 0;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #1a1a1aa1;
  cursor: pointer;
  transition: color 1s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.submitButton:hover {
  background-color: #e8772bc7;
}
.formText{
  color: #ffffffe0;
}

/* Media query for smaller screens or when form-container is smaller */
@media (max-width: 600px) {
  .form-container form {
    width: 80%;
  }

  /* Adjust other styles accordingly for smaller screens */
}
