.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 56%;
  background: rgb(37 35 34 / 75%);
  backdrop-filter: blur(3px);
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.1);
}

.logOutBtn {
  background-color: #1a1a1aa1;
  transition: color 1s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.logOutBtn:hover {
  background-color: #bb1d1dab;
}

body {
  padding-top: 40px;
}
