.nav {
    background-color: #d20909; /* Dark background color */
    color: #fff; /* White text color */
    padding: 10px; /* Add some padding for better appearance */
    text-align: center; /* Center the content horizontally */
  }