.bgDetail {
  background-image: url("../../assets/bg-RickNMort.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-position: center;
  color: #ffffff;
}

.detail {
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  background: rgb(37 35 34 / 75%);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.detailImg {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.detailText {
  text-align: left;
  padding: 10px;
}

.subtitle {
  color: #f07873ab;
}

.searchBarBtn:hover {
  background-color: #d56b68a8;
}

.container {
  text-align: center;
}
