@font-face {
  font-family: SpaceMono;
  src: url("./fonts/SpaceMono-Regular.ttf");
}
:root {
  font-family: "SpaceMono", monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  margin: 0 5px;
  border-radius: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: #ffffff;
}

input {
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
}
