.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

.inputContainer {
  border-radius: 10px;
  flex-grow: 1;
  margin-right: 10px;
}

.inputContainer input {
  width: 95%;
  padding: 8px;
  border: none;
  border-radius: 10px;
}

.searchBarBtn {
  background-color: #1a1a1aa1;
  transition: transform 0.3s ease-in-out;
}

.searchBarBtn:hover {
  transform: scale(1.12);
}
