.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 25px;
  max-width: 1200px;
}

.bodyCards {
  background-image: url("../../assets/bg-rickMeh.png");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  padding-top: 70px;
  padding-left: 80px;
  background-position: center;
}
